<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <div class="col-14">
          <button type="submit" class="btn btn-block btn-block">AUTHENTIFICATION</button>
        </div>
      </div>
      <div class="card-body">
        <form class="row g-3 needs-validation" method="post" [formGroup]="loginForm" (ngSubmit)="signIn()">

          <div class="col-12">
            <label for="adresse" class="form-label">Email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input  type="email" formControlName="email" class="form-control" id="adresse" >
              <div class="invalid-feedback" *ngIf="isSubmitted && formControls['email'].errors">
                <div  *ngIf="formControls['email'].errors['pattern']">L'adresse e-mail est
                  invalide
                </div>
                <div  *ngIf="formControls['email'].errors['required']">L'adresse e-mail est
                  obligatoire
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="yourPassword" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="yourPassword" >
            <div class="invalid-feedback" *ngIf="isSubmitted && formControls['password'].errors">
              <div class="text-red-600" *ngIf="formControls['password'].errors['required']">Le mot de passe est
                obligatoire
              </div>
              <div class="text-red-600" *ngIf="formControls['password'].errors['minLength']">Votre mot de passe doit comporter au moins 8 caractères
              </div>
            </div>
          </div>

          <div class="col-12">
            <p class="small mb-0"><a href="pages-register.html">mot de passe oublié</a></p>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
              <label class="form-check-label" for="rememberMe">Rappelles toi</label>
            </div>
          </div>

          <div class="col-12">
            <button class="btn btn-success w-100" type="submit">Connecter</button>
          </div>
          <div class="col-12">
            <p class="small mb-0">Vous n'avez pas de compte? <a href="pages-register.html">S'inscrire</a></p>
          </div>
        </form>
        <!-- /.social-auth-links -->



      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  </body>
