<div class="container-xxl py-6">
  <div class="container">
      <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-5 mb-3"> NOUS CONTACTER</h1>
      </div>
      <div class="row g-5 justify-content-center">
          <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
              <div class="bg-primary text-white d-flex flex-column justify-content-center h-100 p-5">
                  <h5 class="text-white">PHONE</h5>
                  <p class="mb-5"><i class="fa fa-phone-alt me-3"></i>+221 78 121 43 91</p>
                  <h5 class="text-white">EMAIL</h5>
                  <p class="mb-5"><i class="fa fa-envelope me-3"></i>NiayeTechologies@gmail.com</p>
                  <h5 class="text-white">ADRESS</h5>
                  <p class="mb-5"><i class="fa fa-map-marker-alt me-3"></i>FAN,Ecole ISI,SENEGAL</p>
                  <h5 class="text-white">SUIVEZ-NOUS</h5>
                  <div class="d-flex pt-2">
                      <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                      <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
              <p class="mb-4">NiaTech est une nouvelle plateforme e-commerce spécialisé pour la commercialisation des légumes dans la zone de Niaye au Sénégale creéé par Mamadou Saliou Diallo Etudiant en Master 2 a l'institut Supérieur de l'informatique de Dakar <a href="https://htmlcodex.com/contact-form"></a>.</p>
              <form>
                  <div class="row g-3">
                      <div class="col-md-6">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="name">
                              <label for="name">NOM</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name">
                            <label for="name">PRENOM</label>
                        </div>
                    </div>
                      <div class="col-md-6">
                          <div class="form-floating">
                              <input type="email" class="form-control" id="email">
                              <label for="email">EMAIL</label>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="subject">
                              <label for="subject">Sujet</label>
                          </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating">
                          <select name="code_client" class="form-control" formControlName="code_client" id="code_client">
                           <option value="0">-Select-</option>
                           <option value="0">VENDEUR</option>
                           <option value="0">ACHETEUR</option>
                          </select>
                          <label for="email">VOTRE ROLE</label>
                        </div>
                      </div>

                      <div class="col-12">
                          <div class="form-floating">
                              <textarea class="form-control" placeholder="Ecrivez Votre message" id="message" style="height: 200px"></textarea>
                              <label for="message">Message</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Envoyer Votre Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>