<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
    </div>
    <div class="card-body">
      <p class="login-box-msg">CREEZ VOTRE COMPTE</p>
      <form (ngSubmit)="signUp()" [formGroup]="registerForm" method="post">
        <div class="form-group form-primary">
          <label class="float-label">prénom</label>
          <input class="form-control form-control-user" formControlName="prenom" id="nom" placeholder="Votre Prénom"
                 type="text">
          <span class="form-bar"></span>
          <div *ngIf="isSubmitted && formControls['prenom'].errors" class="form-text text-danger">
            <div *ngIf="formControls['prenom'].errors['required']" class="text-red-600">Le prénom est obligatoire
            </div>
          </div>

        </div>
        <div class="form-group form-primary">
          <label class="float-label">nom</label>
          <input class="form-control form-control-user" formControlName="nom" placeholder="Votre Nom"
                 type="text">
          <span class="form-bar"></span>
          <div *ngIf="isSubmitted && formControls['nom'].errors" class="form-text text-danger">
            <div *ngIf="formControls['nom'].errors['required']" class="text-red-600">Le nom est obligatoire
            </div>
          </div>
        </div>
        <div class="form-group form-primary">
          <label class="float-label">email</label>
          <input class="form-control form-control-user" formControlName="email" placeholder="Votre email"
                 type="text">
          <span class="form-bar"></span>
          <div *ngIf="isSubmitted && formControls['email'].errors" class="form-text text-danger">
            <div *ngIf="formControls['email'].errors['pattern']">L'adresse e-mail est
              invalide
            </div>
            <div *ngIf="formControls['email'].errors['required']">L'adresse e-mail est
              obligatoire
            </div>
          </div>
        </div>
        <div class="form-group form-primary">
          <label class="float-label">Password</label>
          <input class="form-control" formControlName="password" type="password" placeholder="Password">
          <span class="form-bar"></span>
          <div *ngIf="isSubmitted && formControls['password'].errors" class="form-text text-danger">
            <div *ngIf="formControls['password'].errors['required']" class="text-red-600">Le mot de passe est
              obligatoire
            </div>
            <div *ngIf="formControls['password'].errors['minLength']" class="text-red-600">Votre mot de passe doit
              comporter au moins 8 caractères
            </div>
          </div>
        </div>
        <div class="form-group form-primary">
          <label class="float-label">Confirm Password</label>
          <input class="form-control" formControlName="confirm_password" type="password">
          <span class="form-bar"></span>
          <div *ngIf="isSubmitted && formControls['confirm_password'].errors" class="form-text text-danger">

            <div *ngIf="formControls['confirm_password'].errors['required']" class="text-red-600">Le mot de passe de
              confirmation est
              obligatoire
            </div>
            <div *ngIf="formControls['confirm_password'].errors['confirmedValidator']" class="text-red-600">Le mot de
              passe et le mot de passe de confirmation doivent correspondre
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-success w-100" type="submit">S'inscrire</button>
        </div>
        <div class="col-12">
          <p class="small mb-0">Vous avez déjà un compte? <a href="/login">Connexion</a></p>
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
</body>
