<body class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
      </div>
      <div class="card-body">
        <p class="login-box-msg">CREEZ VOTRE COMPTE</p>
  
          <div class="form-group form-primary">
            <input type="text" class="form-control form-control-user" formControlName="username" id="username"
            placeholder="Votre Nom">
              <span class="form-bar"></span>
              <label class="float-label">nom</label>
          </div>
          <div class="form-group form-primary">
            <input type="text" class="form-control form-control-user" formControlName="nom" id="nom"
            placeholder="Votre Prénom">
              <span class="form-bar"></span>
              <label class="float-label">prénom</label>
          </div>
  
          <div class="form-group form-primary">
            <input type="text" class="form-control form-control-user" id="email" formControlName="email"
            placeholder="Votre Email">     
              <span class="form-bar"></span>
              <label class="float-label">email</label>
          </div>
          <div class="form-group form-primary">
            <select formControlName="role" class="form-control">
              <option value="0">Select Role</option>
              <option value="ADMIN">ADMIN</option>
              <option value="userName">Expert</option>
              <option value="userName">ACHETEUR</option>
              <option value="userName">VENDEUR</option>
              <option value="userName">EXPERT</option>
            </select>    
              <span class="form-bar"></span>
              <label class="float-label">Votre Role</label>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-primary">
                  <input type="text" class="form-control" id="password" formControlName="password"
                  placeholder="Pass word">
                    <span class="form-bar"></span>
                    <label class="float-label">Password</label>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group form-primary">
                    <input type="password" formControlName="pwdd" class="form-control">
                      <span class="form-bar"></span>
                      <label class="float-label">Confirm Password</label>
                  </div>
              </div>
          </div>
          
          <div class="col-12">
            <button class="btn btn-success w-100" type="submit">S'inscrire</button>
          </div>
          <div class="col-12">
            <p class="small mb-0">Vous avez déjà un compte? <a href="pages-login.html">Connexion</a></p>
          </div>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  </body>