<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Zones des Niayes</li>
                        <li>Phone: +221781214391</li>
                        <li>Email: NiayeTechologies@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>A PROPOS</h6>
                    <ul>
                       <p>NiayeTech 
                        est une plateforme e-commerce 
                        creéé par Mamadou Saliou Diallo
                        Etudiant en master 2 a ISI.
                        Dans le but d'aider 
                        Les vendeurs des légumes dans la zone 
                        des Niayes a ecouler leurs produits.
                       </p>
                    </ul> 
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Newsletters</h6>
                    <form action="#">
                        <input type="text" placeholder="Entrer Votre Email">
                        <button type="submit" class="site-btn">S'abonner</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                   
                </div>
            </div>
        </div>
    </div>
</footer>