<h1>Effectuer Vos Achats en toute securité</h1>
  <div class="col-12">
    <div class="card top-selling overflow-auto">

      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>

       
        </ul>
      </div>

      <div class="card-body pb-0">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Libellé</th>
              <th scope="col">Description</th>
              <th scope="col">Prix_reguliere</th>
              <th scope="col">Prix_Vente</th>
              <th scope="col">Categorie</th>
              <th scope="col">Vendeur</th>
              <th scope="col">Image</th>
              <th class="text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td>$64</td>
              <td class="fw-bold">124</td>
              <td>$5,828</td>
            </tr>
            <tr>
              
              <td>$46</td>
              <td class="fw-bold">98</td>
              <td>$4,508</td>
            </tr>
            <tr> 
              <td>$59</td>
              <td class="fw-bold">74</td>
              <td>$4,366</td>
            </tr>
            <tr>
              <td>$32</td>
              <td class="fw-bold">63</td>
              <td>$2,016</td>
            </tr>
            <tr>
              
              <td>$79</td>
              <td class="fw-bold">41</td>
              <td>$3,239</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div><!-- End Top Selling -->
