
  <section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Gestion des Utilisateurs</h4>
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Nom<span></span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Prenom<span></span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Teléphone<span></span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span></span></p>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Password<span></span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Confirm Password<span></span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label>ROLES</label>
                                <select name="code_client" class="form-control" formControlName="code_client" id="code_client">
                                <option value="0">-Select-</option>
                                <option value="0">ADMIN</option>
                                <option value="0">ACHETEUR</option>
                                <option value="0">VENDEUR</option>
                                <option value="0">EXPERT</option>
                                </select>
                              </div>
                        </div>
                        <div class="row">
                           
                            <button type="button" class="btn btn-success">Ajouter</button>
                            
                           
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Teléphone</th>
                    <th>Password</th>
                    <th> Confirm Password</th>
                    <th>ROLES</th>
                    <th>Action</th>
                  </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let list of List">
                        <td>{{list.id}}</td>
                        <td>{{list.nom}}</td>
                        <td>{{list.prenom}}</td>
                        <td>{{list.email}}</td>
                        <td>{{list.tel}}</td>
                        <td>{{list.password}}</td>
                        <td>{{list.confirmpassword}}</td>
                        <td>{{list.role}}</td>
                        <td>
                            <section>
                                <div>
                                  <label>
                                    <input type="checkbox" checked>BloquerCompte
                                    <input type="checkbox" checked>Debloquer
                                  </label>
                                </div>
                              </section>
                        </td>
                       
                    </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div>
</section>